@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.4;
    background: linear-gradient(to top, black, transparent);
}